{
  "openapi": "3.0.0",
  "info": {
    "version": "",
    "title": "OPENLOGI API v1.5",
    "description": "# ご利用方法\n物流アウトソーシングサービスの [オープンロジ](https://www.openlogi.com/) が提供する Web API です。\n\nOPENLOGI APIを活用することで物流業務の自動化を行うことができるようになります。\n\n## アクセストークンの取得\nOPENLOGI APIを利用してユーザリソースにアクセスするにはアクセストークンが必要となります。\n\nアクセストークンは下記リンクのAPI Token管理画面より発行することができます。\n詳細は[こちらのページ](https://help.openlogi.com/faq/show/64)をご確認ください。\n\n- <a href=\"https://app.openlogi.com/portal/tokens\" target=\"_blank\">本番環境でトークンを発行する</a>\n- <a href=\"https://app-demo.openlogi.com/portal/tokens\" target=\"_blank\">デモ環境でトークンを発行する</a>\n\n※`ユーザー管理`より追加したサブアカウントでのアクセストークンの発行はできません\n\n複数クライアントから利用する場合はそれぞれ別のアクセストークンを発行し利用してください。\n\nここで発行されるアクセストークンは有効期限が無い状態で発行されますので取り扱いにはくれぐれもご注意ください。 不要になったアクセストークンは必ず削除してください。 (アクセストークン漏洩による被害に関しては一切の責任を負いません)\n\n## 認証方法\nすべてのAPIエンドポイントへのリクエスト時に、取得したアクセストークンを`Authorization`リクエストヘッダーへセットしてリクエストしてください。\n\n```\nAuthorization: Bearer wz2FvCW3NRm4GZgLC7GMlW3XbM2qIIbuCDv8RZ8F...\n```\n\n## ベースURL\n\nOPENLOGI APIを提供するベースURLは以下になります。\n\n|環境 | ベースURL |\n|-----|-----------|\n|本番環境| `https://api.openlogi.com/api` |\n|デモ環境| `https://api-demo.openlogi.com/api` |\n\n## バージョン\nOPENLOGI APIはバージョン管理を行っています。\n\n|サポートするAPIバージョン|\n|-----|\n|`1.5`|\n\nすべてのAPIエンドポイントへのリクエスト時に、`X-Api-Version`リクエストヘッダーでバージョンを指定してください。\n\n```\nX-Api-Version: 1.5\n```\n\n## レートリミット\nAPIリクエストは1分間に60回を上限とします。\n\n1分間に60回を超えるリクエストを行うと、HTTPステータスコード429（Too Many Requests）が返却されます。\nレートリミットに達した場合は、リクエストを中断し、時間を空けてから再度リクエストを行ってください。\nそれ以上の頻度で送信する必要がある場合は、弊社までお問い合わせください。\n\n現在のレートリミットの状態は、レスポンスヘッダーの`X-RateLimit-Limit`（上限値）と`X-RateLimit-Remaining`（残り回数）で確認できます。\n\n```\nX-RateLimit-Limit: 60\nX-RateLimit-Remaining: 59\n```\n\n※仕様は変更となる場合があります。\n\n# エラーについて\nOPENLOGI APIでは、HTTPステータスコードを用いてリクエストの成否を表現しています。\n以下の表をご参考にエラーハンドリングをお願いします。\n\nリクエストがタイムアウトした（ステータスコードが5xxとなった）際は、ネットワーク接続が閉じられてもサーバー側で処理を継続し処理が成功している場合があります。\nこの場合、GETの場合は時間を置いてリトライをお願いします。\nまた、POSTの場合は管理画面でリソースが作られているかどうかの確認を、PUT/DELETEの場合はリソースをGETした結果で成否をご確認ください。\n\n## HTTPステータスコードとエラー内容\nステータス | 概要                  | `error`の値                          | 意味\n---------|-----------------------|-------------------------------------|---\n400      | Bad Request           | exceptionまたはapi_exception         | OPENLOGI APIが処理できないリクエスト形式です。なお、リクエストデータ形式の誤りは422となります。\n401      | Unauthorized          | unauthorized                        | 無効なAPIアクセストークンです。トークン値の確認または再発行をお願いします。\n402      | Payment Required      | payment_required                    | ご利用するにはお支払い方法の登録が必要になります。詳細は[こちら](https://help.openlogi.com/faq/show/36)をご確認ください。\n403      | Forbidden             | forbidden                           | 指定のAPIアクセストークンでは許可されていないリクエストです。リクエストしているリソースとトークン発行元が整合しているかご確認ください。\n404      | Not Found             | not_found                           | リクエストしているリソースがありません。または、HTTPメソッドやパスが間違っています。\n422      | Unprocessable Content | validation_failed                   | データバリデーション（検証）が失敗しました。多くの場合、「JSON構文に誤りがある」、「必須項目が不足している」、「項目の組み合わせの条件を満たしてない」などに該当します。これらはリトライでは解決しないため、リクエスト内容に間違いがないかご確認ください。\n429      | Too Many Requests     | Too Many Attempts.                  | API制限に達しました。リクエスト間隔を空けてリトライをお願いします。\n500      | Internal Server Error | internal_server_error               | OPENLOGI APIシステムに問題が発生しています。\n503      | Service Unavailable   | (注1)                               | OPENLOGI APIのメンテナンス中です。メンテナンス終了後にリクエストをお願いします。メンテナンス予定については[こちら](https://help.openlogi.com/faq/show/252)をご確認ください。\n504      | Gateway Timeout       | (注1)                               | OPENLOGI APIシステムに問題が発生しています。GETの場合は時間を置いてリトライを、POSTの場合は管理画面でリソースが作られているかどうかの確認を、PUT/DELETEの場合はリソースをGETした結果で成否をご確認ください。\n\n注1: `Content-Type`レスポンスヘッダーの値が`text/html`の場合もあるため、レスポンスボディではなくステータスコードをご利用ください。\n\n## 各エンドポイント共通のエラーレスポンススキーマ\n### 429 Too Many Requests\n```\nHTTP/1.1 429 Too Many Requests\nX-RateLimit-Limit: 60\nX-RateLimit-Remaining: 0\nContent-Type: application/json\n{\n  \"error\": \"Too Many Attempts.\",\n  \"error_description\": \"Too Many Attempts.\"\n}\n```\n\n### 500 Internal Server Error\n```\nHTTP/1.1 500 Internal Server Error\nContent-Type: application/json\n{\n  \"error\": \"internal_server_error\"\n}\n```\n\n### 503 Service Unavailable\n```\nHTTP/1.1 503 Service Unavailable\nContent-Type: text/html\n<html><head><title>503</title></head><body>ただいま、メンテナンス中です</body></html>\n```\n\n### 504 Gateway Timeout\n```\nHTTP/1.1 504 Gateway Timeout\n```\n\n# CHANGELOG\n\n[こちら](/doc/CHANGELOG.html)を参照してください。\n"
  },
  "servers": [
    {
      "url": "https://api.openlogi.com/api",
      "description": "本番環境"
    },
    {
      "url": "https://api-demo.openlogi.com/api",
      "description": "デモ環境"
    }
  ],
  "tags": [
    {
      "name": "items",
      "description": "商品に関連する情報を取得します"
    },
    {
      "name": "items(code指定)",
      "description": "商品コード（`code`）を指定して商品情報を操作します。\n\nオープンロジが発行する[商品ID](https://help.openlogi.com/faq/show/220)が不明な場合にご利用ください。\n\nパスパラメータに含まれるアカウントコードについては、[こちらのページ](https://help.openlogi.com/faq/show/263)をご確認ください。"
    },
    {
      "name": "warehousings",
      "description": "入荷に関連する情報を取得します"
    },
    {
      "name": "shipments",
      "description": "出荷に関連する情報を取得します"
    },
    {
      "name": "shipments(identifier指定)",
      "description": "出荷識別番号（`identifier`）を指定して出荷依頼を操作します\n\nオープンロジが発行する[出荷ID](https://help.openlogi.com/faq/show/269)が不明な場合にご利用ください。\n\nパスパラメータに含まれるアカウントコードについては、[こちらのページ](https://help.openlogi.com/faq/show/263)をご確認ください。"
    }
  ],
  "paths": {
    "/items": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "商品一覧",
        "description": "商品の一覧を在庫情報と合わせて取得できます。\n\n商品情報と同じフォーマットのJSONを配列で取得できます。\n",
        "operationId": "listItems",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "商品ID指定\n\nカンマ( `,` )区切りで複数IDを最大100件まで指定できます\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-I000001,AB001-I000003"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "stock",
            "in": "query",
            "description": "`stock=1`と指定すると、レスポンスに在庫情報を含めます。",
            "required": false,
            "schema": {
              "type": "integer",
              "const": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items"
                  ],
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "title": "商品情報の配列",
                      "items": {
                        "$ref": "#/components/schemas/ItemResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "items"
        ],
        "summary": "商品登録",
        "description": "商品を登録します。",
        "operationId": "postItem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "成功（セット商品含む）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/items/bulk": {
      "post": {
        "tags": [
          "items"
        ],
        "summary": "商品一括登録",
        "description": "商品を一括登録します。\n\n商品登録と同じフォーマットのJSONを配列で送信することで一括登録できます。\n",
        "operationId": "bulkPostItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "description": "商品リスト",
                    "items": {
                      "$ref": "#/components/schemas/ItemRequest"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功（セット商品含む）",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items"
                  ],
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "商品リスト",
                      "items": {
                        "$ref": "#/components/schemas/ItemResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/items/{id}": {
      "get": {
        "tags": [
          "items"
        ],
        "summary": "商品情報取得",
        "description": "指定した1件の商品IDの商品情報を在庫情報と共に取得できます。\n\n商品コードを指定して商品情報を取得する場合は、[code指定の商品情報取得](#tag/items(code)/operation/getItemByCode)をご利用ください。",
        "operationId": "getItemById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "商品ID\n\n商品IDはオープンロジに商品を登録した際に自動で生成され、商品ごとに割り当てられる固有のIDです。",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-I000001",
              "externalDocs": {
                "description": "詳細はこちらのページをご確認ください。",
                "url": "https://help.openlogi.com/faq/show/220"
              }
            }
          },
          {
            "name": "stock",
            "in": "query",
            "description": "`stock=1`と指定すると、レスポンスに在庫情報を含めます。",
            "required": false,
            "schema": {
              "type": "integer",
              "const": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "items"
        ],
        "summary": "商品情報更新",
        "description": "指定した1件の商品IDの商品情報を更新します。\n\n商品コードを指定して商品情報を更新する場合は、[code指定の商品情報取得](#tag/items(code)/operation/putItemByCode)をご利用ください。",
        "operationId": "putItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "商品ID\n\n商品IDはオープンロジに商品を登録した際に自動で生成され、商品ごとに割り当てられる固有のIDです。",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-I000001",
              "externalDocs": {
                "description": "詳細はこちらのページをご確認ください。",
                "url": "https://help.openlogi.com/faq/show/220"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemRequestWithBundledItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功（セット商品含む）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      },
      "delete": {
        "tags": [
          "items"
        ],
        "summary": "商品削除",
        "description": "商品を削除します。\n\n入荷依頼中および入荷実績があるアイテムは削除できません。\n",
        "operationId": "deleteItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "商品ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-I000001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/items/{id}/images": {
      "post": {
        "tags": [
          "items"
        ],
        "summary": "商品画像登録",
        "description": "商品の画像を登録します。 jpeg, png タイプのファイルを指定できます。\n\nmultipart/form-data 形式でファイルを送信します。\n\n- Content-Disposition の name は file を指定してください。\n\n- ファイル名は Content-Disposition の filename で指定してください。\n\n- ファイル名がマルチバイトの場合は UTF-8 エンコードした値を指定してください。\n",
        "operationId": "postItemImage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "商品ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-I000001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/items/{id}/images/{image_id}": {
      "delete": {
        "tags": [
          "items"
        ],
        "summary": "商品画像削除",
        "description": "商品画像を削除します。\n\n同梱物の場合、画像を全て削除することはできません。\n",
        "operationId": "deleteItemImage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "商品ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-I000001"
            }
          },
          {
            "name": "image_id",
            "in": "path",
            "description": "画像ID",
            "required": false,
            "schema": {
              "type": "string",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/items/{account_id}": {
      "get": {
        "tags": [
          "items(code指定)"
        ],
        "summary": "商品一覧",
        "description": "商品の一覧を在庫情報と合わせて取得できます。\n\n商品情報と同じフォーマットのJSONが配列で取得できます。\n",
        "operationId": "listItemsByAccountId",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AB001"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "商品識別番号\n\nカンマ( `,` )区切りで複数IDを最大100件まで指定できます\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "123456-098765,12345678,AB12345"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "商品コード\n\nカンマ( `,` )区切りで複数IDを最大100件まで指定できます\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "DQ001,DQ002"
            }
          },
          {
            "name": "stock",
            "in": "query",
            "description": "在庫情報を含むかどうか",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items"
                  ],
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ItemResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/items/{account_id}/{code}": {
      "get": {
        "tags": [
          "items(code指定)"
        ],
        "summary": "商品情報取得",
        "description": "在庫情報を含んだ商品情報を取得できます。",
        "operationId": "getItemByCode",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AB001"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "商品コード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "item-001"
            }
          },
          {
            "name": "stock",
            "in": "query",
            "description": "在庫情報を含むかどうか",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "items(code指定)"
        ],
        "summary": "商品更新",
        "description": "商品情報を更新します。",
        "operationId": "putItemByCode",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AB001"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "商品コード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "item-001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemRequestWithBundledItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功（セット商品含む）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      },
      "delete": {
        "tags": [
          "items(code指定)"
        ],
        "summary": "商品削除",
        "description": "商品を削除します。\n\n入荷依頼中および入荷実績があるアイテムは削除できません。\n",
        "operationId": "deleteItemByCode",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AB001"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "商品コード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "item-001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/items/{account_id}/{code}/images": {
      "post": {
        "tags": [
          "items(code指定)"
        ],
        "summary": "商品画像登録",
        "description": "商品の画像を登録します。 jpeg, png タイプのファイルを指定できます。\n\nmultipart/form-data 形式でファイルを送信します。\n\n- Content-Disposition の name は file を指定してください。\n\n- ファイル名は Content-Disposition の filename で指定してください。\n\n- ファイル名がマルチバイトの場合は UTF-8 エンコードした値を指定してください。\n",
        "operationId": "postItemImageByCode",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AB001"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "商品コード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "item-001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/items/{account_id}/{code}/{image_id}": {
      "delete": {
        "tags": [
          "items(code指定)"
        ],
        "summary": "商品画像削除",
        "description": "商品画像を削除します。\n\n同梱物の場合、画像を全て削除することはできません。\n",
        "operationId": "deleteItemImageByCode",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AB001"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "商品コード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "item-001"
            }
          },
          {
            "name": "image_id",
            "in": "path",
            "description": "画像ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/warehousings": {
      "get": {
        "tags": [
          "warehousings"
        ],
        "summary": "入荷依頼一覧",
        "description": "入荷未完了状態の入荷依頼を取得します。\n\n入荷情報と同じフォーマットのJSONが配列で取得できます。\n",
        "operationId": "listWarehousings",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehousingIndexResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "warehousings"
        ],
        "summary": "入荷依頼作成",
        "description": "入荷依頼を作成します。\n\n実際の入荷処理をするには別途入荷明細書と入荷ラベルが必要になります。\n[入荷ラベル取得API](#tag/warehousings/operation/getWarehousingPdf)またはオープンロジの入荷依頼中の画面より入荷明細書兼入荷ラベルのPDFを取得、印刷し、入荷明細書を同梱した上で入荷ラベルを箱に貼って倉庫宛に発送ください。\n[詳細はこちらのページをご確認ください。](https://help.openlogi.com/faq/show/16)\n",
        "operationId": "postWarehousing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarehousingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehousingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/warehousings/{id}": {
      "get": {
        "tags": [
          "warehousings"
        ],
        "summary": "入荷依頼情報",
        "description": "入荷情報を取得します。",
        "operationId": "getWarehousing",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "入荷ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AB001-W0001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehousingResponseWithWarehousedData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "warehousings"
        ],
        "summary": "入荷依頼更新",
        "description": "依頼中の出荷依頼を更新します。\n\nステータスによっては更新できません。\n",
        "operationId": "putWarehousing",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "入荷ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AB001-W0001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarehousingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehousingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      },
      "delete": {
        "tags": [
          "warehousings"
        ],
        "summary": "入荷依頼削除",
        "description": "入荷依頼をキャンセルします。\n\nステータスによってはキャンセルできません。\n",
        "operationId": "deleteWarehousing",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "入荷ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AB001-W0001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehousingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/warehousings/stocked": {
      "get": {
        "tags": [
          "warehousings"
        ],
        "summary": "直近の入荷実績",
        "description": "指定日付の直近1日分の入荷実績（入荷済みの入荷依頼）を取得します。\n\n`date_before`の指定がある場合は、指定日からさかのぼって入荷作業を行った直近の日付です。\n指定した日に入荷実績があれば指定日、指定日に入荷実績がなく前日以前に入荷実績があればその入荷実績の日付です。\n`date_after`の場合は、指定日より後の直近の日付です。\n\nクエリパラメータを指定しない場合は、`date_before`にリクエスト日を指定した場合と同一です。\n\n**例**\n下記表は、日付が異なる3回の入荷実績がある場合の例です。\n\n入荷日 | 左記入荷日を含む`date_before`の例 | 左記入荷日を含む`date_after`の例\n---|---|---\n2025-01-10 | `date_before=20250110`, `date_before=20250131` | `date_after=20250106`, `date_after=20250110`\n2025-01-05 | `date_before=20250105`, `date_before=20250109` | `date_after=20250102`, `date_after=20250105`\n2025-01-01 | `date_before=20250101`, `date_before=20250102` | `date_after=20241201`, `date_after=20250101`",
        "operationId": "listRecentWarehousings",
        "parameters": [
          {
            "name": "date_before",
            "in": "query",
            "description": "指定日以前の最終入荷日の入荷実績を取得します。\n\n`date_after`と一緒に指定した場合は、`date_after`の指定を無視します。",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?<year>\\d{4})(?<month>\\d{2})(?<day>\\d{2})$",
              "example": "20190101"
            }
          },
          {
            "name": "date_after",
            "in": "query",
            "description": "指定日以降の初回入荷日の入荷実績を取得します。\n\n`date_before`と一緒に指定した場合は、`date_after`の指定を無視します。",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(?<year>\\d{4})(?<month>\\d{2})(?<day>\\d{2})$",
              "example": "20190401"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "warehousings"
                  ],
                  "type": "object",
                  "properties": {
                    "warehousings": {
                      "type": "array",
                      "title": "入荷実績リスト",
                      "items": {
                        "$ref": "#/components/schemas/WarehousingResponseWithWarehousedData"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/warehousings/stocked/{year}/{month}/{day}": {
      "get": {
        "tags": [
          "warehousings"
        ],
        "summary": "指定年月日の入荷実績",
        "description": "指定年月日の入荷実績（`status`が`stocked`のもの）を取得します。\n\n`halfway`が`true`の場合、入荷依頼の一部の商品が入荷完了している状態を表します。",
        "operationId": "getWarehousingsByDate",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "入荷年(YYYY)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}$",
              "example": "2019"
            }
          },
          {
            "name": "month",
            "in": "path",
            "description": "入荷月(MM)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{2}$",
              "example": "04"
            }
          },
          {
            "name": "day",
            "in": "path",
            "description": "入荷日(DD)\n\n指定しない場合は、指定年月の入荷実績を取得します。",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{2}$",
              "example": "01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "warehousings"
                  ],
                  "type": "object",
                  "properties": {
                    "warehousings": {
                      "type": "array",
                      "title": "入荷実績リスト",
                      "items": {
                        "$ref": "#/components/schemas/WarehousingResponseWithWarehousedData"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/warehousings/{id}.pdf": {
      "get": {
        "tags": [
          "warehousings"
        ],
        "summary": "入荷ラベル取得",
        "description": "入荷ラベルを取得します。",
        "operationId": "getWarehousingPdf",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "入荷ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AB001-W0001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/pdf": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/shipments": {
      "get": {
        "tags": [
          "shipments"
        ],
        "summary": "出荷依頼一覧",
        "description": "依頼中（`status: shipped`以外）の出荷依頼を取得します。\n\nクエリパラメータで出荷IDを指定した場合は、出荷済み（`status: shipped`）の出荷依頼も取得します。\n",
        "operationId": "listShipments",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "出荷IDをカンマ( `,` )区切りで最大100件まで指定できます。\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "TS001-S000001,AB001-S000003",
              "externalDocs": {
                "description": "出荷IDについてはこちらのページをご確認ください。",
                "url": "https://help.openlogi.com/faq/show/269"
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "shipments"
                  ],
                  "type": "object",
                  "properties": {
                    "shipments": {
                      "type": "array",
                      "title": "出荷依頼一覧",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/GetShipmentResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "shipments"
        ],
        "summary": "出荷依頼作成",
        "description": "出荷依頼を1件作成します。\n事前に商品登録が必要です。\n\n#### 識別番号と注文番号について\n- 出荷を特定するキーとして `identifier` が利用されます\n- `identifier` が指定されていない場合は `order_no` の値が `identifier` として保存されます\n- `identifier` と `order_no` のいずれかの指定が必須となります\n\n#### 在庫不足時の出荷依頼, 入荷前の商品の出荷依頼（出荷予約）の方法について\n- 出荷依頼単位の`backorder_if_unavailable`に`true`を指定してください。\n- 出荷ルールによる商品追加で在庫不足が発生する場合も同様です。\n",
        "operationId": "postShipment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostShipmentRequest"
              },
              "examples": {
                "domesticShipment": {
                  "$ref": "#/components/examples/DomesticShipmentRequest"
                },
                "internationalShipment": {
                  "$ref": "#/components/examples/InternationalShipmentRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/bulk": {
      "post": {
        "tags": [
          "shipments"
        ],
        "summary": "出荷依頼一括作成",
        "description": "出荷依頼作成と同じフォーマットのJSONを配列で送信することで一括作成できます。\n\n単一の出荷依頼作成APIとは異なり、`apply_rule`を出荷依頼単位ではなく、リクエスト単位で指定します。\nそのため、一括で作成するすべての出荷依頼について出荷ルールが評価され、それぞれの条件を満たす出荷ルールが適用されます。\n\n#### 推奨事項\n一括作成の件数には上限を設けていませんが、50件〜100件程度を推奨します。\n件数が多いほど処理時間も長くなるため、クライアントシステムのタイムアウト値の設定にご注意ください。\n\n#### エラー時の挙動について\nこのAPIはアトミックに処理をします。\nよって、一部の出荷依頼の作成に失敗した場合は、すべての出荷依頼が作成されません。\nこの場合は、エラーを修正し、同じ内容で再度リクエストするか、個別に出荷依頼を作成してください。",
        "operationId": "bulkPostShipments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostShipmentsRequest"
              },
              "examples": {
                "domesticShipments": {
                  "$ref": "#/components/examples/DomesticShipmentRequestList"
                },
                "internationalShipment": {
                  "$ref": "#/components/examples/InternationalShipmentRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "shipments"
                  ],
                  "type": "object",
                  "properties": {
                    "shipments": {
                      "title": "出荷依頼リスト",
                      "description": "一括作成された出荷依頼の配列です。",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PostShipmentResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/BulkPostShipmentsUnprocessableContent"
          }
        }
      }
    },
    "/shipments/{id}": {
      "get": {
        "tags": [
          "shipments"
        ],
        "summary": "出荷依頼取得",
        "description": "指定した出荷IDの出荷依頼情報を取得します。\n",
        "operationId": "getShipment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "出荷ID",
            "required": true,
            "schema": {
              "type": "string",
              "externalDocs": {
                "description": "詳細はこちらのページをご確認ください。",
                "url": "https://help.openlogi.com/faq/show/269"
              }
            },
            "example": "TS001-S000001"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "shipments"
        ],
        "summary": "出荷依頼更新",
        "description": "依頼中の出荷依頼を更新します。\n\n- 更新できる出荷依頼は、ステータスが`backordered`、`waiting`のものです\n- それ以外のステータスの出荷依頼を修正、キャンセルしたい場合は、それぞれ[出荷依頼修正リクエスト](#tag/shipments/operation/modifyShipment)と[出荷依頼キャンセルリクエスト](#tag/shipments/operation/cancelShipment)をご利用ください\n- 倉庫移動で作成された出荷依頼の更新には、[倉庫移動更新](#tag/shipments/operation/putTransfer)をご利用ください\n- 出荷依頼を更新した結果、出荷ルールの実行条件を満たしても出荷ルールは適用されません",
        "operationId": "putShipment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "出荷ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-S000001",
              "externalDocs": {
                "description": "詳細はこちらのページをご確認ください。",
                "url": "https://help.openlogi.com/faq/show/269"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      },
      "delete": {
        "tags": [
          "shipments"
        ],
        "summary": "出荷依頼削除",
        "description": "ステータスによっては削除できません。",
        "operationId": "deleteShipment",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "出荷ID指定",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-S000001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/{id}/modify": {
      "post": {
        "tags": [
          "shipments"
        ],
        "summary": "出荷依頼修正リクエスト",
        "description": "ステータスがピッキング中・ピッキング済み・梱包済みの出荷依頼の修正を依頼します。\n\nデータ取り込み後の修正となりますので、別途事務手数料＋作業進捗状況による作業費用がかかります。\n\n海外発送の場合は梱包済みのステータス以降は依頼ができません。\n\nキャンセル依頼を出していただき、別途新規の出荷依頼を作成してください。\n\nまた、作業進捗状況によってはご依頼にお応えすることができない場合がございます。\n\nご了承の上ご利用ください。\n",
        "operationId": "modifyShipment",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "出荷ID指定",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-S000001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/{id}/cancel": {
      "post": {
        "tags": [
          "shipments"
        ],
        "summary": "出荷依頼キャンセルリクエスト",
        "description": "ステータスがピッキング中・ピッキング済み・梱包済みの出荷依頼の修正を依頼します。\n\nデータ取り込み後の修正となりますので、別途事務手数料＋作業進捗状況による作業費用がかかります。\n\n海外発送の場合は梱包済みのステータス以降は依頼ができません。\n\nキャンセル依頼を出していただき、別途新規の出荷依頼を作成してください。\n\nまた、作業進捗状況によってはご依頼にお応えすることができない場合がございます。\n\nご了承の上ご利用ください。\n",
        "operationId": "cancelShipment",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "出荷ID指定",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-S000001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/{account_id}": {
      "get": {
        "tags": [
          "shipments(identifier指定)"
        ],
        "summary": "出荷依頼一覧",
        "description": "依頼中（`status`が`shipped`以外）の出荷依頼を取得します。\n\nクエリパラメータで識別番号を指定した場合は、出荷済み（`status`が`shipped`）の出荷依頼も取得します。",
        "operationId": "listShipmentsByAccountId",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001",
              "externalDocs": {
                "description": "詳細はこちらのページをご確認ください。",
                "url": "https://help.openlogi.com/faq/show/263"
              }
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "[出荷依頼作成](#tag/shipments/operation/postShipment)で指定した識別番号（`identifier`）をカンマ( `,` )区切りで最大100件まで指定できます。\n\n識別番号を指定していない場合は、注文番号（`order_no`）を識別番号として利用できます。",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2015-00001,2015-00002"
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "shipments"
                  ],
                  "type": "object",
                  "properties": {
                    "shipments": {
                      "type": "array",
                      "title": "出荷依頼一覧",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/GetShipmentResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/{account_id}/{identifier}": {
      "get": {
        "tags": [
          "shipments(identifier指定)"
        ],
        "summary": "出荷依頼",
        "description": "出荷依頼を取得します。\n",
        "operationId": "getShipmentByAccountId",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "識別番号",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2015-00001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "shipments(identifier指定)"
        ],
        "summary": "出荷依頼修正",
        "description": "ステータスによっては更新できません。",
        "operationId": "putShipmentByAccountId",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "識別番号",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2015-00001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentRequest"
              },
              "examples": {
                "domesticShipments": {
                  "$ref": "#/components/examples/DomesticShipmentRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      },
      "delete": {
        "tags": [
          "shipments(identifier指定)"
        ],
        "summary": "出荷依頼削除",
        "description": "ステータスによっては削除できません。",
        "operationId": "deleteShipmentByAccountId",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "識別番号",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2015-00001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/{account_id}/{identifier}/modify": {
      "post": {
        "tags": [
          "shipments(identifier指定)"
        ],
        "summary": "出荷依頼修正リクエスト",
        "description": "ステータスがピッキング中・ピッキング済み・梱包済みの出荷依頼の修正を依頼します。\n\nデータ取り込み後の修正となりますので、別途事務手数料＋作業進捗状況による作業費用がかかります。\n\n海外発送の場合は梱包済みのステータス以降は依頼ができません。\n\nキャンセル依頼を出していただき、別途新規の出荷依頼を作成してください。\n\nまた、作業進捗状況によってはご依頼にお応えすることができない場合がございます。\n\nご了承の上ご利用ください。\n",
        "operationId": "modifyShipmentByAccountId",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "識別番号",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2015-00001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/{account_id}/{identifier}/cancel": {
      "post": {
        "tags": [
          "shipments(identifier指定)"
        ],
        "summary": "出荷依頼キャンセルリクエスト",
        "description": "ステータスがピッキング中・ピッキング済み・梱包済みの出荷依頼の修正を依頼します。\n\nデータ取り込み後の修正となりますので、別途事務手数料＋作業進捗状況による作業費用がかかります。\n\n海外発送の場合は梱包済みのステータス以降は依頼ができません。\n\nキャンセル依頼を出していただき、別途新規の出荷依頼を作成してください。\n\nまた、作業進捗状況によってはご依頼にお応えすることができない場合がございます。\n\nご了承の上ご利用ください。\n",
        "operationId": "cancelShipmentByAccountId",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "アカウントコード",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "識別番号",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2015-00001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/shipped": {
      "get": {
        "tags": [
          "shipments"
        ],
        "summary": "直近の出荷実績",
        "description": "指定日付の直近1日分の出荷実績（出荷済みの出荷依頼）を取得します。\n\nクエリパラメータを指定しない場合は、リクエスト日の直近1日分の出荷実績を取得します。\n",
        "operationId": "listShippedShipments",
        "parameters": [
          {
            "name": "date_before",
            "in": "query",
            "description": "指定日以前の最終出荷日の出荷実績を取得します。\n\n`date_after`と一緒に指定した場合は、`date_after`の指定を無視します。",
            "schema": {
              "type": "string",
              "pattern": "^(?<year>\\d{4})(?<month>\\d{2})(?<day>\\d{2})$",
              "example": "20190320"
            }
          },
          {
            "name": "date_after",
            "in": "query",
            "description": "指定日以降の初回出荷日の出荷実績を取得します。\n\n`date_before`と一緒に指定した場合は、`date_after`の指定を無視します。",
            "schema": {
              "type": "string",
              "pattern": "^(?<year>\\d{4})(?<month>\\d{2})(?<day>\\d{2})$",
              "example": "20190420"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "shipments"
                  ],
                  "type": "object",
                  "properties": {
                    "shipments": {
                      "type": "array",
                      "title": "出荷実績リスト",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/GetShipmentResponse"
                          },
                          {
                            "properties": {
                              "status": {
                                "example": "shipped"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/shipped/{year}/{month}/{day}": {
      "get": {
        "tags": [
          "shipments"
        ],
        "summary": "指定年月日の出荷実績",
        "description": "指定年月日の出荷実績（出荷済みの出荷依頼）を取得します。\n",
        "operationId": "getShippedShipment",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "出荷年(YYYY)",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}$",
              "example": "2019"
            }
          },
          {
            "name": "month",
            "in": "path",
            "description": "出荷月(MM)",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{2}$",
              "example": "04"
            }
          },
          {
            "name": "day",
            "in": "path",
            "description": "出荷日(DD)\n\n指定しない場合は、指定年月の出荷実績を取得します。",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{2}$",
              "example": "02"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "shipments"
                  ],
                  "type": "object",
                  "properties": {
                    "shipments": {
                      "type": "array",
                      "title": "出荷実績リスト",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/GetShipmentResponse"
                          },
                          {
                            "properties": {
                              "status": {
                                "example": "shipped"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/international/regions/ems": {
      "get": {
        "tags": [
          "shipments"
        ],
        "summary": "国コード情報",
        "description": "海外発送指定時に指定できる国コードの一覧を取得します。",
        "operationId": "getInternationalRegion",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "regions"
                  ],
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "description": "国コード情報リスト",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "description": "国コード",
                            "type": "string"
                          },
                          "name": {
                            "description": "名称",
                            "type": "string"
                          },
                          "name_english": {
                            "description": "名称(英名)",
                            "type": "string"
                          },
                          "region_ems": {
                            "description": "地帯",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "currency": {
                    "$ref": "#/components/examples/Region"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/shipments/international/currencies": {
      "get": {
        "tags": [
          "shipments"
        ],
        "summary": "通貨情報",
        "description": "海外発送時に指定できる通貨の一覧を取得します。",
        "operationId": "getInternationalCurrency",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "currencies"
                  ],
                  "type": "object",
                  "properties": {
                    "currencies": {
                      "type": "array",
                      "description": "通貨情報リスト",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "description": "通貨コード",
                            "type": "string"
                          },
                          "name": {
                            "description": "名称",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "currency": {
                    "$ref": "#/components/examples/Currency"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/shipments/transfer": {
      "post": {
        "tags": [
          "shipments"
        ],
        "summary": "倉庫移動作成",
        "description": "指定商品の倉庫移動依頼をします。\n\n発送元住所、発送先住所は指定された倉庫の住所となります。\n\n通常出荷と同じ出荷依頼情報が作成され、同時に発送先倉庫での入荷依頼が作成されます。\n",
        "operationId": "postTransfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "warehouse",
                  "destination",
                  "items"
                ],
                "properties": {
                  "warehouse": {
                    "type": "string",
                    "description": "移動元倉庫情報",
                    "example": "BASE2"
                  },
                  "destination": {
                    "type": "object",
                    "description": "移動先倉庫情報",
                    "properties": {
                      "warehouse": {
                        "type": "string",
                        "description": "倉庫コード",
                        "example": "BASE3"
                      }
                    }
                  },
                  "items": {
                    "type": "array",
                    "description": "移動商品リスト",
                    "items": {
                      "type": "object",
                      "required": [
                        "code",
                        "quantity"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "商品コード",
                          "example": "item-001"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "数量",
                          "example": 1
                        },
                        "name": {
                          "type": "string",
                          "description": "商品名",
                          "example": "勇者の盾"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/transfer/{id}": {
      "put": {
        "tags": [
          "shipments"
        ],
        "summary": "倉庫移動更新",
        "description": "ステータスによっては更新できません。",
        "operationId": "putTransfer",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "出荷ID指定",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-S000001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "destination",
                  "items"
                ],
                "properties": {
                  "destination": {
                    "type": "object",
                    "description": "移動先倉庫情報",
                    "properties": {
                      "warehouse": {
                        "type": "string",
                        "description": "倉庫コード",
                        "example": "BASE3"
                      }
                    }
                  },
                  "items": {
                    "type": "array",
                    "description": "移動商品リスト",
                    "items": {
                      "type": "object",
                      "required": [
                        "code",
                        "quantity"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "商品コード",
                          "example": "item-001"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "数量",
                          "example": 1
                        },
                        "name": {
                          "type": "string",
                          "description": "商品名",
                          "example": "勇者の盾"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/transfer/{id}/modify": {
      "post": {
        "tags": [
          "shipments"
        ],
        "summary": "倉庫依頼修正リクエスト",
        "description": "ステータスがピッキング中になっている倉庫移動依頼の修正を依頼します。\n\nデータ取り込み後の修正となりますので、別途事務手数料＋作業進捗状況による作業費用がかかります。\n\nまた、作業進捗状況によってはご依頼にお応えすることができない場合がございます。\n\nご了承の上ご利用ください。\n",
        "operationId": "postTransferModify",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "出荷ID指定",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-S000001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "destination"
                ],
                "properties": {
                  "destination": {
                    "type": "object",
                    "description": "移動先倉庫情報",
                    "properties": {
                      "warehouse": {
                        "type": "string",
                        "description": "倉庫コード",
                        "example": "BASE3"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/transfer/{id}/cancel": {
      "post": {
        "tags": [
          "shipments"
        ],
        "summary": "倉庫移動キャンセルリクエスト",
        "description": "ステータスがピッキング中になっている倉庫移動依頼のキャンセルを依頼します。\n\nデータ取り込み後のキャンセルとなりますので、別途事務手数料＋作業進捗状況による作業費用がかかります。\n\nまた、作業進捗状況によってはご依頼にお応えすることができない場合がございます。\n\nご了承の上ご利用ください。\n",
        "operationId": "postTransferCancel",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "出荷ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-S000001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    },
    "/shipments/allocation/{id}/clear": {
      "post": {
        "tags": [
          "shipments"
        ],
        "summary": "出荷商品の引当解除",
        "description": "対象の出荷依頼に含まれる全ての商品から引当が解除され入荷待ちに変更されます。\n\n解除実行後は引当優先順位が高い入荷待ちの出荷依頼から引当処理が行われます。\n\nご了承の上ご利用ください。\n",
        "operationId": "postAllocationClear",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "出荷ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TS001-S000001"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostShipmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableContent"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "child_item": {
        "anyOf": [
          {
            "title": "商品ID指定",
            "type": "object",
            "required": [
              "id",
              "quantity"
            ],
            "properties": {
              "id": {
                "type": "string",
                "title": "商品ID",
                "example": "TS001-I000001"
              },
              "quantity": {
                "type": "integer",
                "minimum": 1,
                "title": "数量",
                "example": 1
              }
            }
          },
          {
            "title": "商品コード指定",
            "type": "object",
            "required": [
              "code",
              "quantity"
            ],
            "properties": {
              "code": {
                "type": "string",
                "title": "商品コード",
                "example": "item-001"
              },
              "quantity": {
                "type": "integer",
                "minimum": 1,
                "title": "数量",
                "example": 1
              }
            }
          }
        ]
      },
      "Stock": {
        "type": "object",
        "required": [
          "quantity",
          "available",
          "shipping",
          "requesting"
        ],
        "properties": {
          "quantity": {
            "type": "integer",
            "title": "総数",
            "description": "倉庫に存在する在庫の総数。\n\n期限切れの在庫は含みません。",
            "example": 100
          },
          "available": {
            "type": "integer",
            "title": "配送可在庫数",
            "description": "総数のうち、追加で出荷依頼可能な数量（`quantity`から`shipping`と`reserved`を減算した数量）",
            "example": 70
          },
          "shipping": {
            "type": "integer",
            "title": "出荷作業中",
            "description": "総数のうち、引当済みおよび出荷作業中の数量。\n\n管理画面における取込待ち、ピッキング中、ピッキング済、梱包済みの状況となっている在庫数のことを指します。",
            "example": 20
          },
          "requesting": {
            "type": "integer",
            "title": "依頼中",
            "description": "出荷に必要な数量（`shipping`、`reserved`、`backordered`の和）\n\n同梱物の場合は、`shipping`と一致します。",
            "example": 10
          }
        }
      },
      "ReservedStock": {
        "type": "object",
        "required": [
          "reserved"
        ],
        "properties": {
          "reserved": {
            "type": "integer",
            "title": "引当待ち数",
            "description": "総数のうち、引当待ちの出荷依頼向けに確保されている数量。\n\n場合によって正確な数量とならないプロパティのため、利用は非推奨です。",
            "deprecated": true,
            "example": 10
          }
        }
      },
      "BackorderedStock": {
        "type": "object",
        "required": [
          "backordered"
        ],
        "properties": {
          "backordered": {
            "type": "integer",
            "title": "入荷待ち数",
            "description": "すでに出荷依頼が作成されて入荷待ちとなっている数量。\n\n期限切れとなった数量は含みません。",
            "example": 5
          }
        }
      },
      "UnallocatableStock": {
        "type": "object",
        "properties": {
          "unallocatable": {
            "type": "integer",
            "title": "期限切れ在庫数",
            "description": "※期限管理を利用するお客様のみ使用可能\n\n期限管理商品の場合に、期限切れとなった数量",
            "example": 5
          }
        }
      },
      "StockSize": {
        "type": "object",
        "required": [
          "size"
        ],
        "properties": {
          "size": {
            "type": "string",
            "enum": [
              "SS",
              "S",
              "60",
              "80",
              "100",
              "120",
              "140",
              "150",
              "160",
              "170",
              "180",
              "190",
              "200",
              "210",
              "220",
              "230",
              "240",
              "250",
              "260"
            ],
            "title": "サイズ",
            "description": "入荷時に測定された商品サイズ。ユーザーや倉庫によって取り扱い可能なサイズは異なります。",
            "example": "60",
            "externalDocs": {
              "description": "詳細はこちらのページをご確認ください。",
              "url": "https://help.openlogi.com/faq/show/42"
            }
          }
        }
      },
      "StockWeight": {
        "type": "object",
        "required": [
          "weight"
        ],
        "properties": {
          "weight": {
            "type": "integer",
            "title": "重さ(グラム)",
            "description": "入荷時に測定された商品重量",
            "example": 200
          }
        }
      },
      "stock_summary": {
        "type": "object",
        "title": "在庫情報",
        "anyOf": [
          {
            "title": "通常商品",
            "allOf": [
              {
                "$ref": "#/components/schemas/Stock"
              },
              {
                "$ref": "#/components/schemas/ReservedStock"
              },
              {
                "$ref": "#/components/schemas/BackorderedStock"
              },
              {
                "$ref": "#/components/schemas/UnallocatableStock"
              },
              {
                "$ref": "#/components/schemas/StockSize"
              },
              {
                "$ref": "#/components/schemas/StockWeight"
              }
            ]
          },
          {
            "title": "同梱物",
            "allOf": [
              {
                "$ref": "#/components/schemas/Stock"
              }
            ]
          }
        ]
      },
      "warehousebase_stock": {
        "type": "object",
        "title": "各倉庫の在庫情報",
        "anyOf": [
          {
            "title": "通常商品",
            "allOf": [
              {
                "type": "object",
                "required": [
                  "warehouse"
                ],
                "properties": {
                  "warehouse": {
                    "type": "string",
                    "title": "倉庫コード",
                    "example": "NBZ"
                  }
                }
              },
              {
                "$ref": "#/components/schemas/Stock"
              },
              {
                "$ref": "#/components/schemas/ReservedStock"
              },
              {
                "$ref": "#/components/schemas/BackorderedStock"
              },
              {
                "$ref": "#/components/schemas/UnallocatableStock"
              },
              {
                "type": "object",
                "properties": {
                  "dispose": {
                    "type": "string",
                    "description": "廃棄依頼（waiting,processing）",
                    "example": "waiting"
                  }
                }
              }
            ]
          },
          {
            "title": "同梱物",
            "allOf": [
              {
                "type": "object",
                "required": [
                  "warehouse"
                ],
                "properties": {
                  "warehouse": {
                    "type": "string",
                    "title": "倉庫コード",
                    "example": "NBZ"
                  }
                }
              },
              {
                "$ref": "#/components/schemas/Stock"
              },
              {
                "$ref": "#/components/schemas/UnallocatableStock"
              }
            ]
          }
        ]
      },
      "ItemResponse": {
        "type": "object",
        "required": [
          "id",
          "code",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "title": "商品ID",
            "description": "オープンロジに商品を登録した際に自動で生成され、商品ごとに割り当てられる固有のIDです。",
            "externalDocs": {
              "description": "詳細はこちらのページをご確認ください。",
              "url": "https://help.openlogi.com/faq/show/220"
            },
            "example": "TS001-I000001"
          },
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30,
            "title": "商品コード",
            "description": "商品に記載されたユーザー独自のコードや品番・型番を表す半角英数記号の文字列です。\n入出荷時に商品を指定する場合に使うことができます。\n\n商品コードは出荷時の同梱明細書にも記載されます。",
            "example": "item-002"
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "title": "商品名",
            "description": "商品名は出荷依頼作成時に変更することもできます。\n出荷依頼作成時に商品名（`.items[].name`）の指定がない場合に、この商品名が出荷依頼の同梱明細書に記載されます。",
            "example": "勇者の盾"
          },
          "price": {
            "oneOf": [
              {
                "title": "価格（リクエストパラメータ）",
                "type": "integer",
                "description": "商品マスタに登録された価格は、管理画面で出荷依頼を作成する際に自動入力されます。\nAPIで出荷依頼作成する際、価格（`.items[].unit_price`）の指定が無い場合には自動入力されません。",
                "example": 1000
              },
              {
                "title": "価格（レスポンス）",
                "type": "string",
                "description": "商品登録時に指定した`price`を文字列として返却します。桁区切りや通貨記号付与などの整形処理はされません。\n\n商品マスタに登録された価格は、管理画面で出荷依頼を作成する際に自動入力されます。\nAPIで出荷依頼作成する際、価格（`.items[].unit_price`）の指定が無い場合には自動入力されません。",
                "example": "1000"
              }
            ]
          },
          "is_reduced_tax": {
            "type": "boolean",
            "title": "軽減税率適用商品",
            "description": "軽減税率が適用される商品の場合は`true`を指定します。\n出荷依頼作成時に軽減税率適用商品（`.items[].is_reduced_tax`）の指定がない場合に、この軽減税率適用商品の値が適用されます。",
            "example": true
          },
          "hs_code": {
            "type": "string",
            "pattern": "^\\d{4}\\.?\\d{2}((\\.|-)?\\d{3,4})?$",
            "title": "HSコード",
            "description": "海外へ発送する場合の商品のHSコード。出荷依頼作成時に指定します。\n出荷依頼作成時にHSコード（`.items[].hs_code`）の指定がない場合に、このHSコードの値が適用されます。",
            "example": "000000.000",
            "externalDocs": {
              "description": "詳細はこちらのページをご確認ください。",
              "url": "https://help.openlogi.com/faq/show/249"
            }
          },
          "barcode": {
            "type": "string",
            "maxLength": 30,
            "title": "管理バーコード",
            "description": "入荷依頼で検品タイプ：管理バーコードを選択した際に使用されます。\nUPC-A形式またはJAN13形式のバーコードを指定します。",
            "example": "1234567890128"
          },
          "item_barcodes": {
            "type": "array",
            "title": "関連バーコード",
            "description": "FBAに登録されている商品との紐づけに利用されるFNSKUを指定します。",
            "items": {
              "type": "string",
              "example": "TEST1"
            },
            "externalDocs": {
              "description": "詳細はこちらのページをご確認ください。",
              "url": "https://help.openlogi.com/faq/show/8"
            }
          },
          "description": {
            "type": "string",
            "maxLength": 16,
            "title": "品名",
            "description": "国内発送時の送り状に記載する品名",
            "example": "玩具",
            "externalDocs": {
              "description": "詳細はこちらのページをご確認ください。",
              "url": "https://help.openlogi.com/faq/show/21"
            }
          },
          "international_info": {
            "type": "object",
            "description": "海外発送情報",
            "properties": {
              "invoice_summary": {
                "type": "string",
                "minLength": 3,
                "maxLength": 75,
                "title": "品名（英語）",
                "description": "海外発送時の送り状/INVOICEに記載される品名です。",
                "example": "Toy",
                "externalDocs": {
                  "description": "詳細はこちらのページをご確認ください。",
                  "url": "https://help.openlogi.com/faq/show/256"
                }
              },
              "origin": {
                "type": "string",
                "pattern": "^[A-Z][A-Z]$",
                "minLength": 2,
                "maxLength": 2,
                "title": "原産国",
                "description": "海外発送時の送り状/INVOICEに記載される原産国です。\n国連LOCODEの国名2文字を指定します。",
                "example": "JP"
              }
            }
          },
          "child_items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/child_item"
            },
            "title": "セット商品の子商品リスト",
            "description": "セット商品の場合に、組み合わせる商品を指定します。",
            "externalDocs": {
              "description": "詳細はこちらのページをご確認ください。",
              "url": "https://help.openlogi.com/faq/show/59"
            }
          },
          "tags": {
            "type": "array",
            "minItems": 1,
            "title": "商品タグリスト",
            "items": {
              "type": "string",
              "maxLength": 255
            },
            "description": "商品に付与するタグを複数指定します。`,`, `，`, `､`, `、`はタグ文字列内で利用できません。",
            "example": [
              "water gun"
            ],
            "externalDocs": {
              "description": "詳細はこちらのページをご確認ください。",
              "url": "https://help.openlogi.com/faq/show/235"
            }
          },
          "stock": {
            "$ref": "#/components/schemas/stock_summary"
          },
          "stocks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/warehousebase_stock"
            },
            "description": "各倉庫の在庫情報"
          },
          "bundled_item": {
            "type": "boolean",
            "title": "同梱物",
            "description": "この商品が同梱物の場合は、`true`となります。",
            "example": true,
[...]
